.containerBox {
    border: 2px solid green;
    border-radius: 50px;
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 1700px;
    height: 2500px;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.category {
    font-size: 56px;
    text-align: center;
    height: 200px;
    width: 780px;
    position: relative;
    bottom: -60px;
    left: 60px;
    background-color: rgb(205, 220, 209);
    border-radius: 80px;
    padding: 25px 15px 15px 15px;
    font-weight: 800;
}

div.div1 {
    color: black;
    font-size: 56px;
    position: relative;
    height: 200px;
    width: 1550px;
    padding: 20px;
    text-align: center;
    display: flex;
    display: inline-flex;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(89, 156, 138);
    text-align: center; 
    border-bottom-color: red;
    border-radius: 20px;
}

.qDifficultyBox {
    border: 5px solid green;
    border-radius: 30px;
    background-color: rgb(216, 211, 182);
    width: 720px;
    height: 200px;
    position: relative;
    left: 895px;
    top: -250px;
    text-align: left;
    padding: 0px 0 20px 20px;
}

.qCat {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.qDiff {
    margin-top: -10px;
}

.image {
    border: 2px solid green;
    border-radius: 50px;
    height: 970px;
    width: 800px;
    position: relative;
    left: -385px;
    top: 60px;
}

.response {
    display: grid;
    grid-auto-rows: 50px;
    width: 750px;
    position: relative;
    left: 550px;
    border-color: green;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 255, 208), rgb(106, 100, 9));
    color: black;
    font-size: 50px; 
    border-radius: 60px;
    text-align:end;
    padding: 10px;;
}

.response:hover{
    background-image: linear-gradient(rgb(207, 235, 28), rgb(106, 106, 9));
}

#response1 {
    margin-top: -130px;
    padding-top: 5px;
    padding-bottom: 140px;
    text-align:center;
}

#response2 {
    margin-top: 30px;
    padding-top: 20;
    padding-bottom: 140px;
    text-align:center;
}

#response3 {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 140px;
    text-align:center;
}

#response4 {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 140px;
    text-align:center;
}

.answersButtons {
    position: relative;
    bottom: 790px;
    left: 345px;
    display: grid;
    gap: 25px;
}

.labelT {
    position: relative;
    padding: 10px;
    position: relative;
    left: -170px;
    bottom: 50px;
}

.labelQ {
    position: relative;
    padding: 10px;
    position: relative;
    left: 40px;
    color: rgb(255, 217, 47);
    bottom: 50px;
}

.labelC {
    color: greenyellow;
    position: relative;
    padding: 10px;
    position: relative;
    left: 160px;
    bottom: 50px;
}

.labelW {
    position: relative;
    padding: 10px;
    position: relative;
    left: 240px;
    bottom: 50px;
}

.underQuestion {
    position: relative;
    top: 20px;
}



.difficulties {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 170px 170px 170px;
    gap: 50px;
    height: 100px;
    border-color: green;
}

#difficulty {
    background-image: linear-gradient(rgb(25, 201, 183), rgb(36, 184, 43));
    border: 5px solid blue;
    border-radius: 50px;
    font-size: 34px;
    color: white;
}

body {
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 1400px;
}

h1 {
    text-shadow: 2px 2px red;
}

.wrong {
    color: rgb(255, 0, 0);
}

.correct {
    color: greenyellow;
}

.labelCategory {
    font-size: 60px;
    color: white;
    position: relative;
    top: 100px;
    right: 400px;
    
}

.reset {
    color: blue;
    width: 250px;
    height: 250px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -985px;
    z-index: 1;
    bottom: 20px;
}

.startGame {
    color: blue;
    width: 600px;
    height: 150px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -1090px;
    text-align: right;
    padding-right: 30px;
    bottom: 20px;
}

.generalAssembly {
    color: blue;
    width: 600px;
    height: 150px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -2360px;
    text-align: left;
    padding-left: 30px;
    bottom: 20px;
}

.imgAndQuestions {
    position: relative;
    top: -200px;
}

.threeBottomButtons {
    position: relative;
    top: -420px;
    left: 1600px;
}

#labels {
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 56px;
    display: inline-block;
    position: relative;
   top: -900px;
}

#bottombuttons {
    height: 70px;
    width: 190px;
    font-size: 60px;
    padding: 15px;
    border: 10px solid green;
    display: inline-block;
    margin: 85px;
    position: relative;
    background-color: black;
    color: honeydew;
    border-radius: 80px;
    position: relative;
    top: -1000px;
}

/* .labelsAndButtons {
    
 } */










