/* body */
body {
    display: flex;
   justify-content: center;
    font-size: 0.98vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 27.12vh;
    padding: 6.78vh 0.54vh 0.54vh 54.24vh;
}

/* The window with all elements */
.containerBox {
    font-size: 1.52vh;
    border-radius: 2.71vh;
    border: 0.54vh solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vh;
    height: 80vh;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/* Label for category */
.labelCategory {
    font-size: 1.63vh;
    color: white;
    position: relative;
    top: -4vh;
    right: 10.03vh;
}

/* The catgory Box */
.category {
    font-size: 1.52vh;
    text-align: center;
    height: 5.42vh;
    width: 21.15vh;
    position: relative;
    top: -4.3vh;
    left: 0.81vh;
    background-color: rgb(205, 220, 209);
    border-radius: 2.17vh;
    padding: 0.68vh 0.41vh 0.41vh 0.41vh;
    font-weight: 800;
}


/* The show answer message box */
.showAnswer {
    display: flex;
    text-align: center;
    width: 40.52vh;
    height: 4.07vh;
    justify-content: center;
    padding: 0.14vh;
    position: relative;
    top: 11.10vh;
    left: 1.2vh;
    color: honeydew;
    visibility: hidden;
    border: 0.14vh solid green;
    border-radius: 1.36vh;
}

/* Show answer button */
#showAnswer {
    color: blue;
    width: 16.27vh;
    height: 4.07vh;
    border: 0.54vh solid green;
    border: 0.27vh solid yellow;
    border-radius: 3.25vh;
    font-family: cursive;
    font-size: 2.06vh;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -17.36vh;
    left: -64vh;
    text-align: left;
    padding-left: 0.81vh;
    bottom: 0.81vh;
}

#showAnswer:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* The box containing the question */
div.div1 {
    color: rgb(0, 0, 0);
    font-size: 1.52vh;
    position: relative;
    height: 5.42vh;
    width: 40.68vh;
    margin: 0.81vh 30.81vh;
    padding: 0.54vh 0.54vh 0.54vh 0.54vh;
    display: flex;
    display: inline-flex;
    justify-content: center;
    border: 0.05vh solid;
    background-color: rgb(89, 156, 138);
    text-align: center;
    border-bottom-color: red;
    border-radius: 0.54vh;
    left: -29.7vh;
}

/*  Individual difficulty button */
.difficulty {
    background-image: linear-gradient(rgb(16, 221, 142), rgb(4, 58, 7));
    border: 0.27vh solid rgb(21, 139, 35);
    border-radius: 1.36vh;
    font-size: 0.92vh;
    color: white;
}

.qCat {
    font-size: 0.92vh;
    margin: 0.54vh;
    display: flex;
    justify-content: center;
}

.qDiff {
    margin-top: -0.27vh;
}

/*  Class containing all difficulty buttons */
.difficulties {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 2.71vh 2.71vh 2.71vh;
    grid-template-columns: 4.61vh 4.61vh 4.61vh;
    gap: 1.36vh;
    height: 2.71vh;
    border-color: green;
}

/* The box containing difficulty buttons */
.qDifficultyBox {
    border: 0.14vh solid green;
    border-radius: 0.81vh;
    background-color: rgb(65, 56, 8);
    width: 18.50vh;
    height: 5.85vh;
    position: relative;
    left: 23.9vh;
    top: -8.3vh;
    padding: 0vh 0vh 0.54vh 0vh;
    color: white;
}

/* image */
img {
    width: 41vh;
    height: 27.12vh;
    position: relative;
    left: -0.03vh;
    top: 2.71vh;
    border: 0.14vh solid green;
    border-radius: 1.36vh;
}

/* all response buttons */
.response {
    display: grid;
    width: 20.34vh;
    position: relative;
    left: 3vh;
    border-color: green;
    justify-content: center;
    background-image: linear-gradient(rgb(173, 202, 9), rgb(214, 184, 14));
    color: black;
    font-size: 1.5vh;
    border-radius: 1.63vh;
    height: 5vh;
    top: 1.5vh;
}

/* All response buttons */
.response:hover {
    background-image: linear-gradient(rgb(32, 90, 165), rgb(72, 168, 192));
}

/* Response 1 button */
#response1 {
    margin-top: -1.90vh;
    padding-top: -0.27vh;
    padding: 0.41vh 0.41vh 0.41vh 0.41vh;
    text-align: center;
    padding-bottom: 3.80vh;
}

/* Response 2 button */
#response2 {
    margin-top: -0.27vh;
    padding: 0.41vh 0.41vh 0.41vh 0.41vh;
    text-align: center;
    padding-bottom: 3.80vh;
}

/* Response 3 button */
#response3 {
    margin-top: -0.27vh;
    padding: 0.41vh 0.41vh 0.41vh 0.41vh;
    text-align: center;
    padding-bottom: 3.80vh;
}

/* Response 4 button */
#response4 {
    margin-top: -0.27vh;
    padding: 0.41vh 0.41vh 0.41vh 0.41vh;
    text-align: center;
    padding-bottom: 3.80vh;
}

/* Class containing all answers buttons */
.answersButtons {
    position: relative;
    bottom: 21.42vh;
    left: 9.36vh;
    display: grid;
    gap: 0.68vh;
}

/* The box displaying the number of questions */
#labelQ {
    position: relative;
    padding: 0.27vh;
    position: relative;
    left: -0.27vh;
    bottom: 1.36vh;
}

/* The box displaying the number of correct answers */
#labelC {
    position: relative;
    padding: 0.27vh;
    position: relative;
    left: 0.05vh;
    bottom: 1.36vh;
}

/* The box displaying the number of wrong answers */
#labelW {
    position: relative;
    padding: 0.27vh;
    position: relative;
    left: 0.27vh;
    bottom: 0.36vh;
}

/*  Set h1 text to red */
h1 {
    color: rgb(17, 13, 12);
    text-shadow: 0.05vh 0.05vh red;
}

/* Reset button */
.reset {
    color: blue;
    width: 7vh;
    height: 7vh;
    border: 0.54vh solid green;
    border: 0.27vh solid yellow;
    border-radius: 10vh;
    font-family: cursive;
    font-size: 2.07vh;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    left: -27vh;
    top: -17.5vh;
    z-index: 1;
}

/* Reset button */
.reset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Start game button */
.startGame {
    color: blue;
    width: 16.27vh;
    height: 4.07vh;
    border: 0.54vh solid green;
    border: 0.27vh solid yellow;
    border-radius: 40.7vh;
    font-family: cursive;
    font-size: 2.07vh;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -17.36vh;
    left: -29.56vh;
    text-align: right;
    padding-right: 0.81vh;
    bottom: 0.54vh;
}

/* Start game button */
.startGame:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Class containing the image and responses buttons */
.imgAndQuestions {
    position: relative;
    top: -5.42vh;
}

/* Class containing the three buttons (show answer, reset and start the game) */
.threeBottomButtons {
    position: relative;
    top: -11.39vh;
    left: 43.39vh;
    padding: auto;
}

/* Class containing the 3 bottom labels  (total questions, correct answers and wrong answers) */
.labels {
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.7vh;
    display: inline-block;
    position: relative;
    top: -24.6vh;
}

/* The bottom boxes for total question number, correct answers and wrong answers */
.bottombuttons {
    height: 1.90vh;
    width: 5.15vh;
    font-size: 1.8vh;
    padding: 0.4vh;
    border: 0.27vh solid green;
    display: inline-block;
    margin: 2.31vh;
    position: relative;
    background-color: black;
    color: honeydew;
    border-radius: 2vh;
    top: -27.12vh;
}

.labelsAndButtons {
    position: relative;
    top: 2vh;
}



/* Set the wrong anser to red */
#wrong {
    color: rgb(255, 0, 0);
}

/* Set the correct anser to green */
#correct {
    color: greenyellow;
}

/* Change the color when "easy" button is hovered over */
#easy:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#medium:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#hard:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}


/* Win window */
.win {
    font-size: 5.42vh;
    border-radius: 2.71vh;
    border: 0.54vh solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vh;
    height: 80vh;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -44.75vh;
    z-index: -1;
}

/* Trophy in the win window */
.winImage {
    position: relative;
    top: 16.27vh;
    height: 27.12vh;
    width: 27.12vh;
    border-radius: 21.69vh;
    border: 0.81vh double rgb(10, 238, 29);
}

/* "Congratulations!" in the win window */
#winPar1 {
    position: absolute;
    right: 4.07vh;
    width: 54.24vh;
    font-size: 5.42vh;
    position: relative;
    top: -54.24vh;
    color: rgb(6, 240, 18);
    text-shadow: 0 0 0.27vh rgb(249, 8, 8), 0 0 0.54vh rgb(223, 9, 9), 0 0 1.14vh rgb(233, 46, 13),
        0 0 2.22vh rgb(255, 30, 0), 0 0 2.49vh rgb(255, 0, 0);
    position: relative;
    left: -5.37vh;
}

/* The message below the trophy */
#winPar2 {
    position: relative;
    top: 2.71vh;
    color: rgb(6, 240, 6);
    text-shadow: 0 0 0.27vh rgb(249, 8, 8), 0 0 0.54vh rgb(223, 9, 9), 0 0 1.14vh rgb(233, 46, 13),
        0 0 2.22vh rgb(255, 30, 0), 0 0 2.49vh rgb(255, 0, 0);
    position: relative;
}

/* The reset button in the win window */
.winReset {
    color: blue;
    width: 8vh;
    height: 8vh;
    border: 0.27vh solid yellow;
    border-radius: 30vh;
    font-family: cursive;
    font-size: 2.06vh;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 68vh;
    left: 18.31vh;
    z-index: 1;
}

/* Change the color of win reset button in win window when the button is hovered over. */
.winReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Lose window */
.lose {
    font-size: 5.42vh;
    border: 0.54vh solid rgb(14, 1, 2);
    border-radius: 2.71vh;
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vh;
    height: 80vh;
    display: flex;
    align-items: center;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -89.5vh;
    z-index: -1;
}

/* The message in the lose window */
#losePar {
    font-size: 4vh;
    position: relative;
    top: -27.12vh;
    color: rgb(240, 33, 6);
    text-shadow: 0 0 0.27vh rgb(2, 27, 3), 0 0 0.54vh rgb(31, 8, 2), 0 0 1.14vh rgb(24, 5, 2),
        0 0 2.22vh rgb(0, 255, 21), 0 0 2.49vh rgb(0, 255, 38);
    position: relative;
    display: flex;
    justify-content: center;
    top: 10vh;
    padding: 0.27vh 0.27vh;
}

/* Reset button in lose window */
.loseReset {
    color: blue;
    width: 8vh;
    height: 8vh;
    border: 0.27vh solid yellow;
    border-radius: 30vh;
    font-family: cursive;
    font-size: 2.06vh;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 68vh;
    left: 18.31vh;
    z-index: -1;
}

/* Change the color of lose button when in the lose window when the button is hovered over */
.loseReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Elements under the box for question */
.underQuestion {
    position: relative;
    top: -4vh;
}
