/* body */
body {
    display: flex;
   justify-content: center;
    font-size: 0.98vmin;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 27.12vmin;
    padding: 6.78vmin 0.54vmin 0.54vmin 54.24vmin;
}

/* The window with all elements */
.containerBox {
    font-size: 1.52vmin;
    border-radius: 2.71vmin;
    border: 0.54vmin solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vmin;
    height: 80vmin;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/* Label for category */
.labelCategory {
    font-size: 1.63vmin;
    color: white;
    position: relative;
    top: -4vmin;
    right: 10.03vmin;
}

/* The catgory Box */
.category {
    font-size: 1.52vmin;
    text-align: center;
    height: 5.42vmin;
    width: 21.15vmin;
    position: relative;
    top: -4.3vmin;
    left: 0.81vmin;
    background-color: rgb(205, 220, 209);
    border-radius: 2.17vmin;
    padding: 0.68vmin 0.41vmin 0.41vmin 0.41vmin;
    font-weight: 800;
}


/* The show answer message box */
.showAnswer {
    display: flex;
    text-align: center;
    width: 40.52vmin;
    height: 4.07vmin;
    justify-content: center;
    padding: 0.14vmin;
    position: relative;
    top: 11.10vmin;
    left: 1.2vmin;
    color: honeydew;
    visibility: hidden;
    border: 0.14vmin solid green;
    border-radius: 1.36vmin;
}

/* Show answer button */
#showAnswer {
    color: blue;
    width: 16.27vmin;
    height: 4.07vmin;
    border: 0.54vmin solid green;
    border: 0.27vmin solid yellow;
    border-radius: 3.25vmin;
    font-family: cursive;
    font-size: 2.06vmin;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -17.36vmin;
    left: -64vmin;
    text-align: left;
    padding-left: 0.81vmin;
    bottom: 0.81vmin;
}

#showAnswer:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* The box containing the question */
div.div1 {
    color: rgb(0, 0, 0);
    font-size: 1.52vmin;
    position: relative;
    height: 5.42vmin;
    width: 40.68vmin;
    margin: 0.81vmin 30.81vmin;
    padding: 0.54vmin 0.54vmin 0.54vmin 0.54vmin;
    display: flex;
    display: inline-flex;
    justify-content: center;
    border: 0.05vmin solid;
    background-color: rgb(89, 156, 138);
    text-align: center;
    border-bottom-color: red;
    border-radius: 0.54vmin;
    left: -29.7vmin;
}

/*  Individual difficulty button */
.difficulty {
    background-image: linear-gradient(rgb(16, 221, 142), rgb(4, 58, 7));
    border: 0.27vmin solid rgb(21, 139, 35);
    border-radius: 1.36vmin;
    font-size: 0.92vmin;
    color: white;
}

.qCat {
    font-size: 0.92vmin;
    margin: 0.54vmin;
    display: flex;
    justify-content: center;
}

.qDiff {
    margin-top: -0.27vmin;
}

/*  Class containing all difficulty buttons */
.difficulties {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 2.71vmin 2.71vmin 2.71vmin;
    grid-template-columns: 4.61vmin 4.61vmin 4.61vmin;
    gap: 1.36vmin;
    height: 2.71vmin;
    border-color: green;
}

/* The box containing difficulty buttons */
.qDifficultyBox {
    border: 0.14vmin solid green;
    border-radius: 0.81vmin;
    background-color: rgb(65, 56, 8);
    width: 18.50vmin;
    height: 5.85vmin;
    position: relative;
    left: 23.9vmin;
    top: -8.3vmin;
    padding: 0vmin 0vmin 0.54vmin 0vmin;
    color: white;
}

/* image */
img {
    width: 41vmin;
    height: 27.12vmin;
    position: relative;
    left: -0.03vmin;
    top: 2.71vmin;
    border: 0.14vmin solid green;
    border-radius: 1.36vmin;
}

/* all response buttons */
.response {
    display: grid;
    width: 20.34vmin;
    position: relative;
    left: 3vmin;
    border-color: green;
    justify-content: center;
    background-image: linear-gradient(rgb(173, 202, 9), rgb(214, 184, 14));
    color: black;
    font-size: 1.5vmin;
    border-radius: 1.63vmin;
    height: 5vmin;
    top: 1.5vmin;
}

/* All response buttons */
.response:hover {
    background-image: linear-gradient(rgb(32, 90, 165), rgb(72, 168, 192));
}

/* Response 1 button */
#response1 {
    margin-top: -1.90vmin;
    padding-top: -0.27vmin;
    padding: 0.41vmin 0.41vmin 0.41vmin 0.41vmin;
    text-align: center;
    padding-bottom: 3.80vmin;
}

/* Response 2 button */
#response2 {
    margin-top: -0.27vmin;
    padding: 0.41vmin 0.41vmin 0.41vmin 0.41vmin;
    text-align: center;
    padding-bottom: 3.80vmin;
}

/* Response 3 button */
#response3 {
    margin-top: -0.27vmin;
    padding: 0.41vmin 0.41vmin 0.41vmin 0.41vmin;
    text-align: center;
    padding-bottom: 3.80vmin;
}

/* Response 4 button */
#response4 {
    margin-top: -0.27vmin;
    padding: 0.41vmin 0.41vmin 0.41vmin 0.41vmin;
    text-align: center;
    padding-bottom: 3.80vmin;
}

/* Class containing all answers buttons */
.answersButtons {
    position: relative;
    bottom: 21.42vmin;
    left: 9.36vmin;
    display: grid;
    gap: 0.68vmin;
}

/* The box displaying the number of questions */
#labelQ {
    position: relative;
    padding: 0.27vmin;
    position: relative;
    left: -0.27vmin;
    bottom: 1.36vmin;
}

/* The box displaying the number of correct answers */
#labelC {
    position: relative;
    padding: 0.27vmin;
    position: relative;
    left: 0.05vmin;
    bottom: 1.36vmin;
}

/* The box displaying the number of wrong answers */
#labelW {
    position: relative;
    padding: 0.27vmin;
    position: relative;
    left: 0.27vmin;
    bottom: 0.36vmin;
}

/*  Set h1 text to red */
h1 {
    color: rgb(17, 13, 12);
    text-shadow: 0.05vmin 0.05vmin red;
}

/* Reset button */
.reset {
    color: blue;
    width: 7vmin;
    height: 7vmin;
    border: 0.54vmin solid green;
    border: 0.27vmin solid yellow;
    border-radius: 10vmin;
    font-family: cursive;
    font-size: 2.07vmin;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    left: -27vmin;
    top: -17.5vmin;
    z-index: 1;
}

/* Reset button */
.reset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Start game button */
.startGame {
    color: blue;
    width: 16.27vmin;
    height: 4.07vmin;
    border: 0.54vmin solid green;
    border: 0.27vmin solid yellow;
    border-radius: 40.7vmin;
    font-family: cursive;
    font-size: 2.07vmin;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -17.36vmin;
    left: -29.56vmin;
    text-align: right;
    padding-right: 0.81vmin;
    bottom: 0.54vmin;
}

/* Start game button */
.startGame:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Class containing the image and responses buttons */
.imgAndQuestions {
    position: relative;
    top: -5.42vmin;
}

/* Class containing the three buttons (show answer, reset and start the game) */
.threeBottomButtons {
    position: relative;
    top: -11.39vmin;
    left: 43.39vmin;
    padding: auto;
}

/* Class containing the 3 bottom labels  (total questions, correct answers and wrong answers) */
.labels {
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.7vmin;
    display: inline-block;
    position: relative;
    top: -24.6vmin;
}

/* The bottom boxes for total question number, correct answers and wrong answers */
.bottombuttons {
    height: 1.90vmin;
    width: 5.15vmin;
    font-size: 1.8vmin;
    padding: 0.4vmin;
    border: 0.27vmin solid green;
    display: inline-block;
    margin: 2.31vmin;
    position: relative;
    background-color: black;
    color: honeydew;
    border-radius: 2vmin;
    top: -27.12vmin;
}

.labelsAndButtons {
    position: relative;
    top: 2vmin;
}



/* Set the wrong anser to red */
#wrong {
    color: rgb(255, 0, 0);
}

/* Set the correct anser to green */
#correct {
    color: greenyellow;
}

/* Change the color when "easy" button is hovered over */
#easy:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#medium:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#hard:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}


/* Win window */
.win {
    font-size: 5.42vmin;
    border-radius: 2.71vmin;
    border: 0.54vmin solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vmin;
    height: 80vmin;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -44.75vmin;
    z-index: -1;
}

/* Trophy in the win window */
.winImage {
    position: relative;
    top: 16.27vmin;
    height: 27.12vmin;
    width: 27.12vmin;
    border-radius: 21.69vmin;
    border: 0.81vmin double rgb(10, 238, 29);
}

/* "Congratulations!" in the win window */
#winPar1 {
    position: absolute;
    right: 4.07vmin;
    width: 54.24vmin;
    font-size: 5.42vmin;
    position: relative;
    top: -54.24vmin;
    color: rgb(6, 240, 18);
    text-shadow: 0 0 0.27vmin rgb(249, 8, 8), 0 0 0.54vmin rgb(223, 9, 9), 0 0 1.14vmin rgb(233, 46, 13),
        0 0 2.22vmin rgb(255, 30, 0), 0 0 2.49vmin rgb(255, 0, 0);
    position: relative;
    left: -5.37vmin;
}

/* The message below the trophy */
#winPar2 {
    position: relative;
    top: 2.71vmin;
    color: rgb(6, 240, 6);
    text-shadow: 0 0 0.27vmin rgb(249, 8, 8), 0 0 0.54vmin rgb(223, 9, 9), 0 0 1.14vmin rgb(233, 46, 13),
        0 0 2.22vmin rgb(255, 30, 0), 0 0 2.49vmin rgb(255, 0, 0);
    position: relative;
}

/* The reset button in the win window */
.winReset {
    color: blue;
    width: 8vmin;
    height: 8vmin;
    border: 0.27vmin solid yellow;
    border-radius: 30vmin;
    font-family: cursive;
    font-size: 2.06vmin;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 68vmin;
    left: 18.31vmin;
    z-index: 1;
}

/* Change the color of win reset button in win window when the button is hovered over. */
.winReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Lose window */
.lose {
    font-size: 5.42vmin;
    border: 0.54vmin solid rgb(14, 1, 2);
    border-radius: 2.71vmin;
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 43.66vmin;
    height: 80vmin;
    display: flex;
    align-items: center;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -89.5vmin;
    z-index: -1;
}

/* The message in the lose window */
#losePar {
    font-size: 4vmin;
    position: relative;
    top: -27.12vmin;
    color: rgb(240, 33, 6);
    text-shadow: 0 0 0.27vmin rgb(2, 27, 3), 0 0 0.54vmin rgb(31, 8, 2), 0 0 1.14vmin rgb(24, 5, 2),
        0 0 2.22vmin rgb(0, 255, 21), 0 0 2.49vmin rgb(0, 255, 38);
    position: relative;
    display: flex;
    justify-content: center;
    top: 10vmin;
    padding: 0.27vmin 0.27vmin;
}

/* Reset button in lose window */
.loseReset {
    color: blue;
    width: 8vmin;
    height: 8vmin;
    border: 0.27vmin solid yellow;
    border-radius: 30vmin;
    font-family: cursive;
    font-size: 2.06vmin;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 68vmin;
    left: 18.31vmin;
    z-index: -1;
}

/* Change the color of lose button when in the lose window when the button is hovered over */
.loseReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Elements under the box for question */
.underQuestion {
    position: relative;
    top: -4vmin;
}
