/* The window with all elements */
.containerBox {
    font-size: 56px;
    border-radius: 50px;
    border: 20px solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 1610px;
    height: 2950px;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/* The show button */
.showAnswer {
    text-align: center;
    width: 1530px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    top: 520px;
    left: 30px;
    color: honeydew;
    visibility: hidden;
    border: 5px solid green;
    border-radius: 50px;
}

/* The catgory Box */
.category {
    font-size: 56px;
    text-align: center;
    height: 200px;
    width: 780px;
    position: relative;
    top: -75px;
    left: 30px;
    background-color: rgb(205, 220, 209);
    border-radius: 80px;
    padding: 25px 15px 15px 15px;
    font-weight: 800;
}

/* The box containing the question */
div.div1 {
    color: rgb(0, 0, 0);
    font-size: 56px;
    position: relative;
    height: 200px;
    width: 1500px;
    margin: 30px 30px;
    padding: 20px;
    text-align: center;
    display: flex;
    display: inline-flex;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(89, 156, 138);
    text-align: center;
    border-bottom-color: red;
    border-radius: 20px;
}

/* The box containing difficulty buttons */
.qDifficultyBox {
    border: 5px solid green;
    border-radius: 30px;
    background-color: rgb(65, 56, 8);
    width: 680px;
    height: 220px;
    position: relative;
    left: 860px;
    top: -385px;
    padding: 0px 0 20px 20px;
    color: white;
}

/*  Class containing all difficulty buttons */
.difficulties {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 170px 170px 170px;
    gap: 50px;
    height: 100px;
    border-color: green;
}

/*  Individual difficulty button */
.difficulty {
    background-image: linear-gradient(rgb(16, 221, 142), rgb(4, 58, 7));
    border: 10px solid rgb(21, 139, 35);
    border-radius: 50px;
    font-size: 34px;
    color: white;
}

.qCat {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.qDiff {
    margin-top: -10px;
}

/* image */
img {
    width: 96%;
    height: 1000px;
    position: relative;
    left: -1px;
    top: 100px;
    border: 5px solid green;
    border-radius: 50px;
}

/* all response buttons */
.response {
    display: grid;
    grid-auto-rows: 50px;
    width: 750px;
    position: relative;
    left: 100px;
    border-color: green;
    justify-content: center;
    background-image: linear-gradient(rgb(173, 202, 9), rgb(214, 184, 14));
    color: black;
    font-size: 45px;
    border-radius: 60px;
}

/* All response buttons */
.response:hover {
    background-image: linear-gradient(rgb(32, 90, 165), rgb(72, 168, 192));
}

/* Response 1 button */
#response1 {
    margin-top: -70px;
    padding-top: -10px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    padding-bottom: 140px;
}

/* Response 2 button */
#response2 {
    margin-top: -10px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 140px;
    text-align: center;
}

/* Response 3 button */
#response3 {
    margin-top: -10px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 140px;
    text-align: center;
}

/* Response 4 button */
#response4 {
    margin-top: -10px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 140px;
    text-align: center;
}

/* Class containing all answers buttons */
.answersButtons {
    position: relative;
    bottom: 790px;
    left: 345px;
    display: grid;
    gap: 25px;
}

/* The box displaying the number of questions */
#labelQ {
    position: relative;
    padding: 10px;
    position: relative;
    left: -10px;
    bottom: 50px;
}

/* The box displaying the number of correct answers */
#labelC {
    position: relative;
    padding: 10px;
    position: relative;
    left: 2px;
    bottom: 50px;
}

/* The box displaying the number of wrong answers */
#labelW {
    position: relative;
    padding: 10px;
    position: relative;
    left: 10px;
    bottom: 50px;
}

/* Elements under the box for question */
.underQuestion {
    position: relative;
    top: 10px;
}

/*  Set h1 text to red */
h1 {
    color: rgb(17, 13, 12);
    text-shadow: 2px 2px red;
}

/* Label for category */
.labelCategory {
    font-size: 60px;
    color: white;
    position: relative;
    top: -40px;
    right: 370px;

}

/* Reset button */
.reset {
    color: blue;
    width: 250px;
    height: 250px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -985px;
    z-index: 1;
    bottom: 20px;
}

/* Reset button */
.reset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Start game button */
.startGame {
    color: blue;
    width: 600px;
    height: 150px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -1090px;
    text-align: right;
    padding-right: 30px;
    bottom: 20px;
}

/* Start game button */
.startGame:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Show answer button */
#showAnswer {
    color: blue;
    width: 600px;
    height: 150px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: relative;
    top: -640px;
    left: -2360px;
    text-align: left;
    padding-left: 30px;
    bottom: 20px;
}

/* Class containing the image and responses buttons */
.imgAndQuestions {
    position: relative;
    top: -200px;
}

/* Class containing the three buttons (show answer, reset and start the game) */
.threeBottomButtons {
    position: relative;
    top: -420px;
    left: 1600px;
}

/* Class containing the 3 bottom labels  (total questions, correct answers and wrong answers) */
.labels {
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 56px;
    display: inline-block;
    position: relative;
    top: -900px;
}

/* The bottom boxes for total question number, correct answers and wrong answers */
.bottombuttons {
    height: 70px;
    width: 190px;
    font-size: 60px;
    padding: 15px;
    border: 10px solid green;
    display: inline-block;
    margin: 85px;
    position: relative;
    background-color: black;
    color: honeydew;
    border-radius: 80px;
    position: relative;
    top: -1000px;
}

/* Set the wrong anser to red */
#wrong {
    color: rgb(255, 0, 0);
}

/* Set the correct anser to green */
#correct {
    color: greenyellow;
}

/* Change the color when "easy" button is hovered over */
#easy:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#medium:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}

/* Change the color when "easy" button is hovered over */
#hard:hover {
    background-image: linear-gradient(rgb(202, 9, 9), rgb(214, 184, 14));
}


/* Win window */
.win {
    font-size: 200px;
    border-radius: 50px;
    border: 20px solid rgb(14, 1, 2);
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 1610px;
    height: 2950px;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -1650px;
    z-index: -1;
}

/* Trophy in the win window */
.winImage {
    position: relative;
    top: 600px;
    height: 1000px;
    width: 1000px;
    border-radius: 800px;
    border: 30px double rgb(238, 128, 10);
}

/* "Congratulations!" in the win window */
#winPar1 {
    position: absolute;
    right: 150px;
    width: 2000px;
    font-size: 200px;
    position: relative;
    top: -1100px;
    color: rgb(6, 240, 18);
    text-shadow: 0 0 10px rgb(249, 8, 8), 0 0 20px rgb(223, 9, 9), 0 0 42px rgb(233, 46, 13),
        0 0 82px rgb(255, 30, 0), 0 0 92px rgb(255, 0, 0);
    position: relative;
    left: -198px;
}

/* The message below the trophy */
#winPar2 {
    position: relative;
    top: 100px;
    color: rgb(6, 240, 6);
    text-shadow: 0 0 10px rgb(249, 8, 8), 0 0 20px rgb(223, 9, 9), 0 0 42px rgb(233, 46, 13),
        0 0 82px rgb(255, 30, 0), 0 0 92px rgb(255, 0, 0);
    position: relative;
}

/* The message in the lose window */
#losePar {
    font-size: 180px;
    position: relative;
    padding: 10px;
    top: -1000px;
    color: rgb(240, 33, 6);
    text-shadow: 0 0 10px rgb(75, 245, 7), 0 0 20px rgb(16, 223, 9), 0 0 42px rgb(25, 191, 10),
        0 0 82px rgb(4, 248, 32), 0 0 92px rgb(11, 240, 11);
    position: relative;
    display: flex;
    justify-content: center;
    top: 550px;
}

/* The reset button in the win window */
.winReset {
    color: blue;
    width: 250px;
    height: 250px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 2550px;
    left: 675px;
    z-index: 1;
}

/* Change the color of win reset button in win window when the button is hovered over. */
.winReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* Lose window */
.lose {
    font-size: 200px;
    border: 20px solid rgb(14, 1, 2);
    border-radius: 50px;
    background-image: linear-gradient(rgb(174, 196, 174), rgb(158, 179, 110));
    width: 1610px;
    height: 2950px;
    display: inline-block;
    justify-content: center;
    background-image: url("trivia_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: -3290px;
    z-index: -1;
}

/* Reset button in lose window */
.loseReset {
    color: blue;
    width: 250px;
    height: 250px;
    border: 20px solid green;
    border: 10px solid yellow;
    border-radius: 120px;
    font-family: cursive;
    font-size: 76px;
    font-weight: bold;
    background-image: radial-gradient(rgb(25, 201, 133), rgb(6, 99, 10));
    position: absolute;
    top: 2550px;
    left: 675px;
    z-index: -1;
}

/* Change the color of lose button when in the lose window when the button is hovered over */
.loseReset:hover {
    background-image: radial-gradient(rgb(201, 25, 25), rgb(93, 99, 6));
    color: white;
}

/* body */
body {
    display: flex;
   justify-content: center;
  
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 250px 20px 20px 2000px;
    display: absolute;
    left: 7050px;
}